.student-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #cc0606;
    border-radius: 5px;
    background-color: #f9f9f9;
    background: transparent;
    border-color: rgb(247, 23, 7);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #f80a95;
    border-radius: 3px;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  